body {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
}

div.question{
    display: none;
}

div.question.active{
    display: block   
}

div#questions{
    height: 300px;
}

    div.option{
        display: none;
    }
    div.option.active{
        display: block  
    }

    div.start_option{
        display: none;
    }
    div.start_option.active{
        display: block   
    }
